@charset "utf-8";

html {
	font-size: 62.5%;
}

body {
	margin:0;
	padding:0;
	font-size:1.4rem;
	display: inline-block;
	text-align:center;
	background-color:#000000;
	background-image: url("/Advanced-images/bg.png");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*---------------------------------------------------------------------
 HEADER
 ---------------------------------------------------------------------*/
.page-header {
	padding:170px 80px 30px;
}

.top-contents {	
	max-width: 100%;
	color:#ffffff;
	background-size:cover;
	text-align:center;
}

.sub-title {
	color:#666666;
}

h1 {
	font-size:50px;
}

.top {
	width:180px;
	padding:10px 10px 10px 10px;
	border: solid;
	border-radius:5px;
	display:inline-block;
	background-color:#97a58d;
}

.top:hover {
	opacity:0.9;
}

.top-contents .send-message {
	margin-left:15px;
	color:#ffffff;
	text-decoration: none;
	border-color:#f2aD36;
	background-color:#f2aD36;
}

.send-message {
	color:#ffffff;
}

.learn-more {
		color:#ffffff;
		text-decoration: none;
		border-color:#97a58d;
		background-color:#97a58d;	
}

/*---------------------------------------------------------------------
 section class="about-me"
 ---------------------------------------------------------------------*/

.about-me {
	padding:80px 30px;
	margin:0;
	background:#ffffff;
}


/*---------------------------------------------------------------------
 section class="my-works"
 ---------------------------------------------------------------------*/
.my-works {
	display: block;
	padding:80px 0;
	color:#ffffff;
	background-color:#383634;
}

.my-works h2 {
	position:relative;
	display:inline-block;
	margin-top:60px;
	padding-bottom:15px;
	letter-spacing:2px;
}

/*---------------------------------------------------------------------
	work-list
 ---------------------------------------------------------------------*/

.work-list{
	display:table;
	width:100%;
	margin:60px 0 0;
	padding:0 0 0 0;
	table-layout: fixed;
}

.work-list li {
	position:relative;
	display:table-cell;
}


.common-image {
	display:block;
	width:100%;
}

.common-image:nth-child(even) {
	margin:0 0 60%;
}

.first-text {
	display:table;
	width:100%;
	height:100%;
	padding:20px;
}

.work-text {
	display:table-cell;
	vertical-align:middle;
	font-size: 1.2rem;
	line-height:2;
}




.read-more {
	width:60%;
	margin-top:20px;
	padding:3px;
	border:1px
	border-style:solid
	border-color:#ffffff;
	display:inline-block;
	border-radius:4px;
	text-decoration:none;
	letter-spacing: 1px;
	font-size:1.2rem;
}

.work-list li:nth-child(1)::after {
	background-image: url("/Advanced-images/tree.jpg");
	vertical-align: top;
}

.work-list li:nth-child(2)::after {
	background-image: url("/Advanced-images/building.jpg");
	vertical-align: top;
}

.work-list li:nth-child(3)::after {
	background-image: url("/Advanced-images/lake.jpg");
	vertical-align: top;
}

.work-list li:nth-child(4)::after {
	background-image: url("/Advanced-images/sky.jpg");
	vertical-align: top;
}

.work-list li:nth-child(odd)::after {
	content:'';
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	height:50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.2;
	transform:scaleY(-1);
}

.work-list li:nth-child(even)::after {
	content:'';
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	height:50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.2;
	transform:scaleY(-1);
}

/*---------------------------------------------------------------------
 section class="my-skills"
 ---------------------------------------------------------------------*/
.my-skills {
	padding:80px 30px;
	margin:0;
	background-color:#ffffff;
}

.my-skills h2 {
	margin:0;
}

.skill-list {
	width:100%;
	list-style-type: none;
	display:table;
	text-align:center;
	margin:auto 0;
	table-layout: fixed;
}

.skill-list li {
	display: table-cell;
}

/*---------------------------------------------------------------------
 section class="contact-me"
 ---------------------------------------------------------------------*/
.contact-me {
	padding:100px 50px 50px;
}

.contact-me h2 {
	color:#ffffff;
}

form {
	width:50%;
	margin:50px auto 0;
}

#name-field {
	display:block;
	width:100%;
	padding:15px;
	outline:none;
	line-height:normal;
	color:#ffffff;
	background-color:transparent;
}

textarea {
	display:block;
	width:100%;
	height:150px;
	color:#ffffff;
	background-color:transparent;
}


.submit-message {
	color:#ffffff;
	background-color:transparent;
}

/*---------------------------------------------------------------------
 section class="page-footer"
 ---------------------------------------------------------------------*/

.page-footer {
	color:#ffffff;
}