@charset "utf-8";

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
	display: inline-block;
	text-align: center;
	background-color: #000000;
	background-image: url("/Advanced-images/bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-size: 1.4rem;
	font-family: Raleway,"HiraginoKaku Gothic ProN",Meiryo,sans-serif;
}


@media screen and (max-width: 1024px) {
	body {
		background-image: none;
	}
}

*, *::before, *::after {
    box-sizing: border-box;
}

h2 {
	position: relative;
	display: inline-block;
	font-size: 40px;
	margin-top: 60px;
	padding-bottom: 15px;
	letter-spacing: 2px;
}

h2::before , h2::after {
	position: absolute;
	display: block;
	content: "";
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #999999;
}

h2::after {
	bottom: 5px;
}

/*---------------------------------------------------------------------
 HEADER
 ---------------------------------------------------------------------*/
.page-header {
	padding: 170px 30px 80px;
}

@media screen and (max-width: 768px) {
	.page-header {
		padding: 60px 30px 70px 30px;
	}
}

.top-contents {	
	max-width: 100%;
	color: #FFFFFF;
	background-size: cover;
	text-align: center;
}

.top-text {
	font-size: 25px;
}

@media screen and (max-width: 768px) {
	.top-text {
		font-size: 15px;
	}
}


.sub-title {
	color: #666666;
	margin-bottom: 60px;
}

h1 {
	font-size: 90px;
	margin: 50px 0 40px 0;
}

@media screen and (max-width: 768px) {
	h1 {
		margin: 35px 0 0 0;
		font-size: 5rem;
	}
}

.button {
	width: 180px;
	padding: 10px 10px 10px 10px;
	border: solid;
	border-radius: 5px;
	display: inline-block;
	background-color: #97A58D;
}

.top-text::before , .top-text::after {
	content: "";
	margin: 0 25px 0;
	display: inline-block;
	width: 130px;
	border: 1px solid #FFFFFF;
}

@media screen and (max-width: 768px) {
	.top-text::before , .top-text::after {
		display: block;
		width: 80%;
		margin: 10px auto;
	}
}

.top:hover {
	opacity: 0.9;
}

.top-contents .send-message {
	margin-left: 15px;
	color: #fFFFFF;
	text-decoration: none;
	border-color: #F2AD36;
	background-color: #F2AD36;
}

.send-message {
	margin: 5px;
	color: #FFFFFF;
}

.learn-more {
		margin: 5px;
		margin-left: 15px;
		color: #FFFFFF;
		text-decoration: none;
		border-color: #AFA58D;;
		background-color: #AFA58D;
}


/*---------------------------------------------------------------------
 section class="about-me"
 ---------------------------------------------------------------------*/

#about-me {
	padding: 80px 30px;
	margin: 0;
	background: #FFFFFF;

}

@media screen and (max-width: 768px) {
	#about-me {
		padding: 50px 30px 50px 30px;
	}
}

h2 ~ p {
	margin: 35px;
	line-height: 2;
}

@media screen and (max-width: 768px) {
	h2 ~ p {
		font-size: 12.5px;
	}
}

/*---------------------------------------------------------------------
 section class="my-works"
 ---------------------------------------------------------------------*/
.my-works {
	display: block;
	padding: 80px 0;
	color: #FFFFFF;
	background-color: #383634;
}


/*---------------------------------------------------------------------
	work-list
 ---------------------------------------------------------------------*/

.work-list {
	display: flex;
	width: 100%;
	padding: 0;
	table-layout: fixed;
}

.work-list > li {
	position: relative;
	display: table-cell;
}

@media screen and (max-width: 768px) {
	.work-list, .work-list li {
		display: block;
	}
}

.common-image {
	display: block;
	width: 100%;
	margin: 0 0 60%;
}

@media screen and (max-width: 768px) {
	.common-image {
		display: none;
	}
}

.list-tree {
	position: absolute;
	top: 0%;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 50%;
	overflow-y: auto;
}

.list-building {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 50%;
	overflow-y: auto;
}

.list-lake {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 50%;
	overflow-y: auto;
}

.list-sky {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 50%;
	overflow-y: auto;
}

.common-text{
	display: table;
	width: 100%;
	height: 100%;
	padding: 20px;
}

.work-text {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	font-size: 1.2rem;
	line-height: 2;
}

.read-more {
	width: 60%;
	color: #FFFFFF;
	border: 1px solid;
	border-radius: 5px;
	border-color: #FFFFFF;
	display: inline-block;
	margin-top: 20px;
	padding: 3px;
	background-color: rgba(255, 255, 255, 0.05);
	text-decoration: none;
}

.read-more:hover {
	opacity: 0.6;
}

.work-list > li::after {
	content: "";
	width: 100%;
	height: 50%;
	background-size: cover;
	display: block;
	position: absolute;
	opacity: 0.2;
	transform: scaleY(-1);
}

@media screen and (max-width: 768px) {
	.work-list, .work-list > li::after {
	top: 0;
	height: 100%;
	background-size: cover;
	}
}

.work-list > li:nth-child(1)::after {
	background-image: url("/Advanced-images/tree.jpg");
}

.work-list > li:nth-child(2)::after {
	background-image: url("/Advanced-images/building.jpg");
}

.work-list > li:nth-child(3)::after {
	background-image: url("/Advanced-images/lake.jpg");
}

.work-list > li:nth-child(4)::after {
	background-image: url("/Advanced-images/SKY.jpg");
}

.work-list > li:nth-child(odd)::after {
	top: 0;
}

.work-list > li:nth-child(even)::after {
	bottom: 0;
}

.work-list > li:nth-child(odd) .common-image {
	margin: 60% 0 0;
}

@media screen and (max-width: 768px) {
	.work-container {
		position: relative;
	}
}


/*---------------------------------------------------------------------
 section class="my-skills"
 ---------------------------------------------------------------------*/
.my-skills {
	padding: 80px 0 30px 0;
	margin: 0;
	background-color: #FFFFFF;
}

.my-skills h2 {
	font-size: 40px;
	margin: 0;
}

h3 {
	font-size: 2rem;
	font-weight: lighter;
}

.skill-list {
	width: 80%;
	list-style-type: none;
	display: table;
	text-align: center;
	margin: 50px auto 0;
	padding-left: 0;
	table-layout: fixed;
}

@media screen and (max-width: 768px) {
	.skill-list {
		display: block;
	}
}

.skill-list > li {
	display: table-cell;
}

@media screen and (max-width: 768px) {
	.skill-list > li {
		display: block;
		margin: 30px 0 30px 0;
	}
}

.skill-list > li > p {
	line-height: 2;
}

h3 + p {
	margin: 20px;
}

.skill-text {
	margin-top: 10px;
}

@media screen and (max-width: 768px) {
	.skill-text {
		font-size: 1.3rem;
	}
}

.skill-common {
	width: 150px;
	height: 150px;
	border: 4px solid;
	border-radius: 50%;
	color: #F1B400;
	font-size: 8rem;
	line-height: 142px;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	transform: translate(0,0);
}
@media screen and (max-width: 768px) {
	.fa {
		width: 100px;
		height: 100px;
		line-height: 100px;
	}
}


.fa-lightbulb::before {
	content: "\f0eb";
	font-size: 8rem;
	line-height: 135px;
}

.fa-skillbrush::before {
	content: "\f1fc";
	font-size: 7rem;
	top: 50%;
	margin-top: -12px;
	line-height: 135px;
}

.fa-sourcecode::before {
	content: "\f121";
	font-size: 8rem;
	line-height: 135px;
}

@media screen and (max-width: 768px) {
	.fa-lightbulb::before, .fa-skillbrush::before, .fa-sourcecode::before {
		font-size: 50px;
		line-height: 5px;
	}
}


/*---------------------------------------------------------------------
 section class="contact-me"
 ---------------------------------------------------------------------*/
#contact-me {
	padding: 100px 50px 50px;
}

#contact-me h2 {
	color: #FFFFFF;
}

form {
	width: 50%;
	margin: 50px auto 0;
}

@media screen  and (max-width: 768px) {
	form {
		width: 80%;
	}
}


#name-field {
	display: block;
	width: 100%;
	padding: 15px;
	outline: none;
	line-height: normal;
	border-color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.05);
	color: #FFFFFF;
}

textarea {
	display: block;
	width: 100%;
	height: 150px;
	color: #FFFFFF;
	border: 1px;
	border-style: solid;
	background-color: rgba(255, 255, 255, 0.05);
	opacity: 0.9;
}

.submit-message {
	color: rgba(255, 255, 255, 0.6);
	border-color: rgba(255, 255, 255, 0.6);
	width: 200px;
	font-size: 15px;
	margin: 20px;
	padding: 20px 20px 20px 20px;
	background-color: transparent;
}

.submit-message:hover {
	cursor: pointer;
	opacity: (0.9);
}

/*---------------------------------------------------------------------
 section class="page-footer"
 ---------------------------------------------------------------------*/
.page-footer {
	color: #FFFFFF;
}